.home-container {
  padding: 40px;
  font-weight: bold;
  font-style: normal;
  font-weight: 700;
}

.home-container-title {
  color: #000;
  font-size: 48px;
}

.home-container-description {
  font-size: 24px;
  color: #7e7e7e;
}

.start-button {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
}
